* {
  margin:0;
  padding:0;
}

body {
  background:#eee;
}

.header {
  background:white;
  width:100%;
}

.header .toplobster {
  height:100px;
  display:flex;
  width:1200px;
  margin:0 auto;
  justify-content: space-between;
}

.sub-header {
  width:100%;
  height:50px;
  background:#CCC;
}

.sub-header .brasstoe {
  width:1200px;
  margin:0 auto;
  display:flex;
  justify-content:space-between;
}


.whatsthepassword {
  background:#eee;
  display:flex;
  align-items:center;
  justify-content:center;
}

.whatsthepassword button {
  border:1px solid #eee;
  background:red;
  padding:20px;
  box-sizing: border-box;
}